.my-form{
    min-width: 200px;
    max-width: 1400px;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
  .example-section{
    text-align: left;
  }

 .radio-button{
    margin-left: 10px !important;
  }


.header{
  margin-top: 100px;
}
.test{
  background-color:#3f51b5;
}
