<header class="test">
  <div class="container">
    <label class="logo"> Helping Hand </label>
    <nav fixed-top>
      <ul>
        <li><a routerLink="/edit-user" label="details">Update Details</a></li>
        <li><a routerLink="/" label="logoutIcon">logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<mat-toolbar color="#4183c4" class="header">
  <span>Please search the details</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form #myForm="ngForm"class="my-form" >

      <mat-form-field class="full-width">
        <mat-label>Category</mat-label>
        <mat-select required [(ngModel)]= "selectedStatus" name="selectedStatus">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.volunteerView}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Start Date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="matDatepickerStart" name="matDatepickerStart">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>End Date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="matDatepickerTo" name="matDatepickerTo">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="search()" color="primary">Search</button>
  </mat-card-actions>
</mat-card>

<div class="result" *ngIf="visible">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let person of people">
      <mat-expansion-panel-header>
        <mat-panel-title style="width: 60%">
          {{ person.name }}
        </mat-panel-title>
        <mat-panel-description style="width: 10%">
          {{ person.age }}
        </mat-panel-description>
        <mat-panel-description style="width: 30%">
          {{ person.gender }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> {{ person.location }}</p>
      <mat-action-row>
        <button mat-raised-button (click)="select()">Select</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
